@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    background-color: #5A337B;
}

#title {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 20em;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1000;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
}

.point {
    background-color: #ff0000;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.pebble {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s ease;
}